# Mongo Instance to Export Data From
MONGO_SRC_CONNECTION=mongodb+srv://xxx:xxx@xxx/gateway?authSource=admin

# Mongo Instance to Write Imports to
MONGO_DEST_CONNECTION=mongodb://mongouser:mongopassword@localhost:27017/gateway?authSource=admin

MONGO_INITDB_ROOT_USERNAME=mongouser
MONGO_INITDB_ROOT_PASSWORD=mongopassword
MONGO_INITDB_DATABASE=gateway
