# Mongo Instance to Export Data From
MONGO_SRC_USER=us3r
MONGO_SRC_PW=v3rys3cr3t
MONGO_SRC_HOST=server.mongo.net
MONGO_SRC_DB=gateway

# Mongo Instance to Write Imports to

MONGO_DEST_USER=mongouser
MONGO_DEST_PW=mongopassword
MONGO_DEST_HOST=0.0.0.0:27017
MONGO_DEST_DB=gatewaydb

MONGO_INITDB_ROOT_USERNAME=mongouser
MONGO_INITDB_ROOT_PASSWORD=mongopassword
MONGO_INITDB_DATABASE=gatewaydb